{% extends 'base.html' %}
{% block head %}
    <title>Document</title>
{% endblock %}

{% block body %}
</head>
<body>
    <p align="left"><a href=http://localhost:5000/ ><button class=grey style="height:35px;width:75">←</button></a></p>
    <h1>About Us</h1>
    <p align="center">Kami merupakan kelompok yang beranggotakan tiga orang yaitu Jose, Feral, dan Bryan. Kelompok kami bernama kelompok Entah. Penamaan "Entah" sebagai nama dari kelompok kami tidak lain dan tidak bukan karena ketidakmampuan kami dalam menciptakan nama kelompok. Kelompok ini dibentuk untuk memenuhi tugas besar Aljabar Geometri IF 2123.</p>
</body>
{% endblock %}