{% extends 'base.html' %}

{% block head %}
    <title>
        Entah Search Engine
    </title>
{% endblock %}

{% block body %}
    <h1>Entah Search Engine</h1>
    <p>
        Ada {{ FILENAMES|length }} file pada database: 
        <div class="index_filenames">
            {{ ", ".join(FILENAMES) }}
        </div>
    </p>
    <h2>Add!</h2>
        <p>Via file .txt</p>
        <form method="POST" enctype="multipart/form-data" action="/addfile">
            <p><input type="file" name="txtfile" accept=".txt" multiple></p>
            <p><input type="submit" value="Upload"></p>
        </form>
        <p>Via URL (laman pada URL akan dikonversi ke dalam bentuk file .txt)</p>
        <form method="POST" action="/addurl">
            <input type="url" name="urlfile" placeholder="https://example.com or http://example.com" pattern="https://.*+http://.*">
            <input type="submit" value="Add">
        </form>
    <h2>Search!</h2>
        <form method="GET" action="/search">
            <input type="text" name="q" placeholder="Query">
            <input type="submit" value="Search">
        </form>
    {% block body_search %}{% endblock %}
{% endblock %}