Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@Josegalbraith 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


bryanrinaldoo
/
Algeo02-19022
Private
1
00
Code
Issues
Pull requests
Actions
Projects
Security
Insights
Algeo02-19022/src/templates/search.html
@felagorn
felagorn Update app.py
Latest commit f6f57df 42 minutes ago
 History
 1 contributor
46 lines (45 sloc)  1.68 KB
  
{% extends 'index.html' %}

{% block body_search %}
    <div id="search_results">
        Menampilkan hasil untuk <a href="/search?q={{ query }}">{{ query }}</a>
        <div id="results">
            {% for i in range(results|length) %}
                <div class="result">
                    <div class="result_link">
                        <a href="/uploads/{{ results[i][0] }}">{{ results[i][1][0] }}</a>&nbsp;<small class="text-muted">(D{{ i + 1 }})</small>
                    </div>
                    <div class="result_wordcount">
                        Jumlah kata: {{ results[i][1][2] }}
                    </div>
                    <div class="result_cosinesimilarity">
                        Tingkat Kemiripan: {{ results[i][1][1] }}%
                    </div>
                    <div class="result_firstline">
                        {{ results[i][1][3] }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="search_table">
        <h3>Tabel kata dan kemunculan:</h3>
        <table>
            <tr>
                <th>Term</th>
                <th>Query</th>
                {% for i in range(results|length) %}
                    <th>D{{ i + 1 }}</th>
                {% endfor %}
            </tr>
            {% for i in range(order|length) %}
                <tr>
                    <td>{{ order[i][0] }}</td>
                    <td>{{ VECTORS["query"][order[i][0]] }}</td>
                    {% for j in range(results|length) %}
                        <td>{{ VECTORS[results[j][0]][order[i][0]] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}